<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Login</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/assets/css/default.css}" rel="stylesheet" />
</head>

<body>
	<div th:insert="Menu.html" /></div>
	<div class="row" style="height: 50px; width: 100%"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 ">
				<form method="post" th:object="${usuario}"
					th:action="@{/fazerLogin}">
					<div class="row">
						<div class="form-group col-xs-10 col-sm-7 col-md-6 col-lg-5">
							<label for="login">Login</label><input id="login" required
								type="text" class="form-control" placeholder="Nome"
								th:field="*{nomeIndividual}" />
						</div>
					</div>
					<div class="row">
						<div class="form-group col-xs-10 col-sm-7 col-md-6 col-lg-5">
							<label for="cpf">CPF</label><input id="cpf" value=""
								maxlength="11" required type="text" class="form-control"
								placeholder="Apenas números" th:field="*{cpfIndividual}" />
						</div>
					</div>
					<div class="row">
						<div class="col-md-12" style="padding-top: 5px">
							<button type="submit" class="btn btn-primary">Entrar</button>
						</div>
					</div>
					<div th:if="${param.error}">Usuário ou senha inválidos.</div>
					<div th:if="${param.logout}">
						<div class="row" style="height: 50px; width: 100%"></div>
						<h1>Você foi deslogado</h1>					
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="row" style="height: 50px; width: 100%"></div>
	<script src="webjars/jquery/3.1.1/jquery.js"></script>
	<script src="webjars/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		const cpf = document.querySelector("#cpf");
		cpf.addEventListener("blur", () => {
		  let value = cpf.value.replace(/^([\d]{3})([\d]{3})([\d]{3})([\d]{2})$/, "$1.$2.$3-$4");
		  
		  cpf.value = value;
		});
	</script>
</body>