<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Cadastro de pegada de carbono</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
	<div th:insert="Menu.html" /></div>
	<div id="main" class="container">
		<h2 class="page-header">Informações</h2>
		<p class="lead">
			<del>Teste</del>
		</p>
		<p>
			<del>Teste</del>
		</p>
		<p>
			<ins>Teste</ins>
		</p>
		<p>
			<small>Teste</small>
		</p>
		<p>
			<strong>Teste</strong>
		</p>
		<p>
			<em>Teste</em>
		</p>
	</div>

	<script src="webjars/jquery/3.1.1/jquery.js"></script>
	<script src="webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>